/* PUT SOME STYLES FOR THE NAVBAR TO FIT THE WAVE UK WHAT IM SAYING */
.my-container {
    border: 1px solid green;
}
.my-row {
    border: 3px solid red;
    height: 300px;
}
.my-col {
    border: 3px solid blue; 
    align-content: center;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.center{
    text-align: center;
}

/* Make NAVBar items larger/better spaced out */