{% extends "layout.html" %}
{% block content %}

<select id="minorSelect">
    {% if graph_list %}
        {% for minor in graph_list %}
            <option value="{{ loop.index }}">{{ minor.name }}</option>
        {% endfor %}
    {% endif %}
</select>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
    window.onload = function(){

        var data = {{ graph_list | safe }};

        var charts = []

        for (var i = 0; i < data.length; i++) {
            charts.push({
                type: 'bar',
                data: {
                    labels: data[i].group_names,
                    datasets: [{
                        label: '% Completed',
                        data: data[i].group_percentages,
                        borderWidth: 0,
                        backgroundColor: [
                            "#98abc5", 
                            "#8a89a6", 
                            "#7b6888", 
                            "#6b486b", 
                            "#a05d56", 
                            "#d0743c", 
                            "#ff8c00"
                        ],
                        borderColor: [
                            "#98abc5", 
                            "#8a89a6", 
                            "#7b6888", 
                            "#6b486b", 
                            "#a05d56", 
                            "#d0743c", 
                            "#ff8c00"
                        ]
                    }]
                },
                options: {
                    legend: {
                        display: false,
                        labels: {
                        },
                        position: 'right'
                    },
                    title: {
                        display: true,
                        text: data[i].name
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 100
                            },
                            gridLines: {
                                display: false
                            }
                        }],
                        xAxes: [{
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                }
            });
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var currentChart = new Chart(ctx, charts[0]);

        $('#minorSelect').change(function() {

            if(currentChart) { currentChart.destroy(); }

            var index = $("#minorSelect").val();

            currentChart = new Chart(ctx, charts[index - 1]);
        })
    }

</script>


{% endblock content %}